nav {    
    border: 1px solid #d9d9d9;
}

.menu-items {
    position: relative;
    font-size: 14px;
  }
  
.menu-items a {
    display: block;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

.menu-items button {
    color: inherit;
    font-size: inherit;
    background-color: transparent;
    cursor: pointer;
    width: 268px;
    border: none;
}

.menu-items a,
.menu-items button {
    text-align: left;
    padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
    background-color: #f2f2f2;
}

.arrow::after {
    content: "";
    display: inline-block;
    margin-left: 0.28em;
    vertical-align: 0.09em;
    border-top: 0.42em solid;
    border-right: 0.32em solid transparent;
    border-left: 0.32em solid transparent;
}

.buttonLayout {
    display: flex;
    justify-content: space-between;
}

.singleMenuItem {
    display: flex !important;
    justify-content: space-between;
    gap: 8px;
}