nav {    
    border: 1px solid #d9d9d9;
}

.nav-area {
    width: 100%;
    height: 40px;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: 'space-between';
    align-items: 'center';
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 23px;
    padding-right: 17px;
}
  
.logo {
    text-decoration: none;
    font-size: 25px;
    color: inherit;
    margin-right: 20px;
}

.menus {
    display: flex;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    width: 268px;
    background-color: #fff;
}