.container {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 1rem !important;
   border: 1px solid #b5e1f7;
   border-radius: 6px;
   background-color: #d2effe;
   gap: 1rem;
   cursor: pointer;
}

.container:hover {
   background-color: #b5e1f7;
}

.container:active {
   background-color: #d6f1ff;
   box-shadow: 10px 10px 29px -10px rgba(0,0,0,0.75);
   -webkit-box-shadow: 10px 10px 29px -10px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 29px -10px rgba(0,0,0,0.75);
   z-index: 999;
}

.title {
   font-weight: bold;
   font-size: 16px;
}

.image {
   border-radius: 50%;
}

.info {
   display: flex; flex-direction: column;
   gap: 0.3rem;
}